<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UserInterface.Properties.Settings>
            <setting name="FotoYolu" serializeAs="String">
                <value />
            </setting>
            <setting name="RedNedeni" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gerekce" serializeAs="String">
                <value />
            </setting>
            <setting name="HarcamaTuru" serializeAs="String">
                <value />
            </setting>
            <setting name="FaturaFirma" serializeAs="String">
                <value />
            </setting>
            <setting name="IlgiliKisi" serializeAs="String">
                <value />
            </setting>
            <setting name="MasrafYeri" serializeAs="String">
                <value />
            </setting>
            <setting name="SiparisNo" serializeAs="String">
                <value />
            </setting>
            <setting name="YurtIciDosyaYolu" serializeAs="String">
                <value />
            </setting>
            <setting name="YurtIciYeniAd" serializeAs="String">
                <value />
            </setting>
            <setting name="YurtIciGorevSatNo" serializeAs="String">
                <value />
            </setting>
            <setting name="YurtIciGorevDonem" serializeAs="String">
                <value />
            </setting>
            <setting name="YurtIciIsAkisNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AracBakimSatButceKodu" serializeAs="String">
                <value />
            </setting>
            <setting name="AracBakimSatStokNo" serializeAs="String">
                <value />
            </setting>
            <setting name="AracBakimSatTanim" serializeAs="String">
                <value />
            </setting>
            <setting name="AracBakimSatMiktar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AracBakimSatBirim" serializeAs="String">
                <value />
            </setting>
            <setting name="DosyaYolu" serializeAs="String">
                <value />
            </setting>
            <setting name="TalepTarihi" serializeAs="String">
                <value />
            </setting>
            <setting name="TalepEdilenTutar" serializeAs="String">
                <value />
            </setting>
            <setting name="TalepGerekcesi" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAkisNo" serializeAs="String">
                <value>0</value>
            </setting>
        </UserInterface.Properties.Settings>
    </userSettings>
</configuration>